{% extends 'festival/layout.html' %}

{% block content %}
<article class="card">

    <h2>Editar palco</h2>

    <p><strong>Palco atual:</strong> {{ palco.nome }}</p>

    {% if palco.imagem %}
        <p>
            <img src="{{ palco.imagem.url }}" style="max-width:300px; border-radius:8px;">
        </p>
    {% endif %}

    <form method="post" enctype="multipart/form-data" style="display:grid; gap:12px; max-width:420px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Guardar alterações</button>
    </form>

</article>
{% endblock %}